<div class="container flex text-white m-10 w-full space-x-5 flex-col md:flex-row">
    <div>
        <h1 class="text-4xl text-gray-950 pl-6 font-bold">EDUCATION</h1>
        <div class="py-8 border-l-2 pl-10" >
            
            @for (item of obj; track $index) {
            <div class="p-5 bg-gray-800 mb-1 rounded-md" >
                <h4 class="text-blue-700">{{item.year}}</h4>
                <h3 class="font-bold">{{item.education}}</h3>
                <p>{{item.desc}}</p>
            </div>
            }
            
        </div>
    </div>
    <div>
        <h1 class="text-4xl text-gray-950 pl-6 font-bold">EXPERENCE</h1>
        <div class="py-8 border-l-2 pl-10" >
            
            @for (item of obj2; track $index) {
            <div class="p-5 bg-gray-800 mb-1 rounded-md" >
                <h4 class="text-blue-700">{{item.year}}</h4>
                <h3 class="font-bold">{{item.education}}</h3>
                <p>{{item.desc}}</p>
            </div>
            }
            
        </div>
    </div>
</div>
<div class="relative w-full me-3 ">
    <div class="left-0 bottom-0 w-full h-1 bg-white"></div>
    <div class="flex justify-between items-center py-4 px-6">
      <div class="w-8 h-8 rounded-full bg-white"></div>
      <span class="text-gray-900 font-mono text-md">PORTFOLIO <span class="text-white text-lg">{{title}}</span> </span>
    </div>
</div>