<div class="container p-20 mt-3 flex flex-row items-center ">
    <div class="md:w-1/2 w-full text-white space-y-5">
        <h2 class="text-2xl text-gray-950 ">Hello !!!</h2>
        <h2 class="text-5xl md:text-7xl font-extrabold ">I'm LOGA <br/><span>KRISHNA</span> </h2>
        <!-- <p >Machine Learning Engineerer</p> -->
         <button class="text-1xl md:text-3xl rounded-lg bg-gray-600 p-3 ">Machine Learning Engineerer</button>
         <br>
        <button class="btn my-8">Resume</button>
    </div>
    <div class="hidden md:block  w-full md:w-1/2 text-white p-10">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta numquam vitae, voluptatem deserunt delectus tenetur, ducimus nisi temporibus iure ut ipsam eligendi consequuntur dolore accusantium nesciunt enim corporis. Omnis, tenetur?
    </div>
    
      
</div>


<div class="relative w-full me-3 ">
    <div class="left-0 bottom-0 w-full h-1 bg-white"></div>
    <div class="flex justify-between items-center py-4 px-6">
      <div class="w-8 h-8 rounded-full bg-white"></div>
      <span class="text-gray-900 font-mono text-md">PORTFOLIO <span class="text-white text-lg">{{title}}</span> </span>
    </div>
</div>